
.bg-primary {
  background-color: $primary !important;
}

.text-grey {
  color: $text-grey !important;
}

.border-primary {
  border-color: $primary !important;
}

.primary {
  color: $primary !important;
}

.bg-grey {
  background-color: $gray-bg !important;
}

.btn-info {
  background-color: $primary;
  border-color: $primary;
}

.form-label {
  font-weight: bold;
  font-size: 18px;
}

.btn-close{
  top: 30px;
  inset-inline-end: 60px
}


