$white: #fff;
$black: #000;

$success-20: #f3fff8;
$success-50: #eaf9ef;
$success-100: #7cb258;
$success-200: #b5dfc5;
$success-focus: #1b8d45;
$success-hover: #34a85f;
$success: #46b770;

$transition: all 0.2s ease-in-out;

$primary: #00A8B5;
$primary-50: #0DE3F4;
$gray-bg: #f7f7f7;
$text-gray: #999A9D;

