/* You can add global styles to this file, and also import other style files */
@use 'assets/scss/variables.scss' as *;
@use "assets/scss/general.scss"  as *;
@use 'assets/scss/utilities.scss'  as *;
@use 'bootstrap-icons/font/bootstrap-icons.css'  as *;

/* Global styles */
body {
  font-family: 'Roboto', sans-serif;
  background-color: $gray-bg;
  margin: 0;
  padding: 0;
}


